<h1>users</h1>
<% if @user.errors.any? %>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<li><%= msg %> </li>
<% end %>
</ul>
<% end %>

<%= form_for @user do |f| %>
<p>
  <%= f.label :username%><br/>
  <%= f.text_field :username %>
</p>
<%= f.label :email %><br/>
<%= f.text_field :email %>
<p>
<%= f.submit "submit" %>
</p>
<%end %>
